{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Players</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-primary" href="{{ path('team_players_add' , {'id': team.id} )}}">
                    Add New Player in {{ team.name }}
                </a>
            </div>
            <div class="card-body">
                <table class="table table-bordered" id="example" class="display" style="width:100%">
                        <thead>
                        <tr>
                        <th>Name</th>
                        <th>Surname</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                    {% for player in players %}
                        <tbody>
                        <tr>
                            <td>{{ player.name }}</td>
                            <td>{{ player.surname }}</td>
                           <td>
                                <form method="post" action="{{ path('team_showPlayer', {'id': player.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <a
                                            class="btn btn-outline-info"
                                            href="{{ path('player_show', {'id': player.id}) }}">
                                        View
                                    </a>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}