{% extends 'base.html.twig' %}

{% block title %}Sell/Buy Player{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Player name: {{ player.name }}</h2>
        <div class="card">
            <div class="card-header">
                Sell/Buy Player
            </div>
            <br>
            <div class="card-body">

                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.id, {'attr': {'class': 'form-control'}}) }}
                </div>
                <br>
                <div class="form-group">
                    {{ form_row(form.price, {'attr': {'class': 'form-control'}}) }}
                </div>
                <br>

                <button class="btn {{ button_color|default('btn-outline-primary') }}  mt-3">{{ button_label|default('Sell/Buy Player') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}