{% extends 'base.html.twig' %}

{% block title %}Players{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Show Player of Team <b>{{ team.name }} </b></h2>
        <div class="card">
            <div class="card-body">
                <b class="text-muted">Name:</b>
                <p>{{ player.name }}</p>
                <b class="text-muted">Surname:</b>
                <p>{{ player.surname }}</p>
                <b class="text-muted">Team:</b>
                <p>{{ team.name ?? 'NULL' }}</p>
                <a class="btn btn-outline-info float-right" href="{{ path('player_sell',{'id':player.id}) }}">
                    Sell/Buy Player
                </a>
                <a></a>
            </div>
        </div>
    </div>
{% endblock %}